<% if !user_signed_in?%> 
  <h3> Crea una nueva cuenta o inicia sesión para ver Tweets! <i class="fa fa-twitter"> </i></h3>
<% end  %>
<% if user_signed_in?%>
  <%= form_with(model: @tweet=Tweet.new, local: true) do |form| %>
      
    
    <div class="row">
      <div class="form-group col-md-8 offset-md-2">
        <%= form.label :content %> <br>
        <%= form.text_area :content %>
      </div>


      <div class="actions col-md-8 offset-md-2">
        <button type="submit" class="btn btn-primary btn-sm">Enviar</button>
      </div>
    </div>
  <% end %>
  <br>
  
<br>
<hr>
<table>
  <thead>
    <tr>
      <th>Contenido</th>
      <th>Usuario</th> 
      <th> </th>
      <th>Likes</th>
      <th></th>
      <th>Retweets</th>
      <th></th>
      <th>Creado..</th>
      
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%c = tweet.content%>
            <% d = " "%>
            <% arr = c.split(d)%> 
            <%arr.each do |arr|%>
              <% if arr.include?('#')%>
                <%= link_to "#{arr}", root_path(search:"#{arr}") %>
              <% else%>
                <%= print%><span><%=arr%></span>
              <%end%>
            <%end%></td>
        <td><%= tweet.user.name if tweet.user %> </td> 
        <td><%= image_tag "#{tweet.user.picture}", style: 'height:75px; width:75px;'%></td>
        <td><% pre_like = tweet.likes.find { |like| like.user_id == current_user.id} %>
              <% if pre_like %>
                <%= link_to raw('&#128128;'), tweet_like_path(tweet, pre_like), method: :delete %> 
              <% else %>
                <%= link_to raw('&#x1F495;'), tweet_likes_path(tweet), method: :post %>
              <% end %></td>
        <td><%= tweet.likes.count %> <%= (tweet.likes.count) == 1 ? ' Like ' : ' Likes '%></td>
        <td><%= link_to 'Retweet',  tweet_tweets_path(tweet), method: :post %> </td>
        <td><%= tweet.tweet_ids.count %> </td>
        <td><%= link_to time_ago_in_words(tweet.created_at), tweet %></td>
        <% if user_signed_in? && tweet.user_id == current_user.id%>
          <td><%= link_to ' Editar', edit_tweet_path(tweet) %></td>
          <td><%= link_to ' Borrar', tweet, method: :delete, data: { confirm: 'Estás seguro?' } %></td>  
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="row">
  <div class="col-md-8 offset-md-2">
    
    <%= link_to_next_page @tweets, 'Mostrar más tweets >>' %>
  </div>
</div>
<br>
<%= link_to 'Nuevo Tweet', new_tweet_path %>
<br>
<%= link_to 'Inicio', root_path %>
<%end%> 