

<p>
  <strong>Title:</strong>
  <%= @tweet.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @tweet.content %>
</p>
<% pre_like = @tweet.likes.find { |like| like.user_id == current_user.id} %>
<% if pre_like %>
  <%= link_to raw('&#x1F494;'), tweet_like_path(@tweet, pre_like), method: :delete %>
<% else %>
  <%= link_to raw('&#x1F495;'), tweet_likes_path(@tweet), method: :post %>
  
<% end %>

<p><%= @tweet.likes.count %> <%= (@tweet.likes.count) == 1 ? 'Like' : 'Likes'%></p>

<p>
  <strong>User:</strong>
  <%= @tweet.user.name %>
</p>
<p>
  <%=image_tag"#{@tweet.user.picture}"%> 
</p>
<p><%= time_ago_in_words(@tweet.created_at) %></p>


<%= link_to 'Editar', edit_tweet_path(@tweet) %> |
<%= link_to 'Atrás', tweets_path %>
