

<p>
  <strong>Title:</strong>
  <%= @tweet.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @tweet.content %>
</p>
<p>
    <li>Likes:<%=@tweet.like ? 'Like' : 'Not Like'%>
      <%= link_to raw('&hearts;'), root_path(@tweet.id) %> 
    </li>
        
       
</p>

<p>
  <strong>User:</strong>
  <%= current_user.name %>
</p>



<%= link_to 'Editar', edit_tweet_path(@tweet) %> |
<%= link_to 'Atrás', tweets_path %>
