<br>

<p>
  <strong>Título:</strong>
  <%= @tweet.title %>
</p>

<p>
  <strong>Tweet:</strong>
  <%# <%= @tweet.content %> 
  <%c = @tweet.content%>
  <% d = " "%>
  <% arr = c.split(d)%> 
  <%arr.each do |arr|%>
    <% if arr.include?('#')%>
      <%= link_to "#{arr}", root_path(search:"#{arr}") %>
    <% else%>
      <%= print%><span><%=arr%></span>
    <%end%>
  <%end%>
</p>


<div >
  <h2>
  <% pre_like = @tweet.likes.find { |like| like.user_id == current_user.id} %>
  <% if pre_like %>
   <%= link_to raw('&#128128;'), tweet_like_path(@tweet, pre_like), method: :delete %> 
  <% else %>
    <%= link_to raw('&#x1F495;'), tweet_likes_path(@tweet), method: :post %>
    
  <% end %>
  </h2>
</div>
<p><%= @tweet.likes.count %> <%= (@tweet.likes.count) == 1 ? 'Like' : 'Likes'%></p>
<% @tweet.likes.each do |tweet| %>
            <tr>
                <td><%=image_tag"#{tweet.user.picture}", style: 'height:100px; width:100px;'%></td>
            </tr>
<%end%>
<br>





<p>
  <strong>Autor:</strong>
  <%= @tweet.user.name %>
  <%=image_tag"#{@tweet.user.picture}", style: 'height:45px; width:45px;'%> <br>
  
</p>
<%= link_to 'Retweet'%>
<%# <p><%= link_to 'Retweet', tweets_path(@tweet.id), method: :post %> 
  
</p>
<br>
<p><%= time_ago_in_words(@tweet.created_at) %></p> <hr>


<% if @tweet.user.name != current_user.name %>
    <% if @friend.nil? %>
      <%= @tweet.user.name %>
      <%= link_to "Add Friend", friends_path(friend_id: @tweet.user.name), method: :post %>
    <% else %>
      <%= link_to( ("Unfollow"), "/friend/#{ @friend.id }", method: :delete) %>
    <%end%>
<% end %>





<% if @tweet.user == current_user %>
    <%= link_to 'Editar', edit_tweet_path(@tweet) %> <hr>
<%end%>
<%= link_to 'Atrás', tweets_path %>
