<div class="col-md-8">

<%# <% provide(:title, @title) %> 
    <section >
      <h1>Perfil: </h1>
      <h2><%= @user.name %> <%=image_tag"#{@user.picture}", style: 'height:100px; width:100px;'%></h2>
      <span><b>Tweets:</b> <%= @user.tweets.count %></span> <br>
      <span><b>Likes:</b> <%= @user.likes.count %> <%= (@user.likes.count) == 1 ? 'Like' : 'Likes'%></span>
    </section>

  <% if @user != current_user %>
    <div>
    <%# if current_user.following%>
      <%#=  render 'unfollow', user_id: @user.id %>
    <%# else %>
      <%= render 'follow', user_id: @user.id%>
    <%# end %>
    </div>
  <% end %>

  <div >
      <strong> 
        <%= @user.following.count%>
      </strong>
      following
      <strong> 
        <%= @user.followers.count %>
      </strong>
      followers

  </div>
  
  <%= link_to 'Inicio', tweets_path %>
</div>